@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Deca|Patua+One|Red+Hat+Display&display=swap');

/* font-family: 'Lexend Deca', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Alfa Slab One', cursive; */

.poke-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 300px;
    border: 2px solid #aaa;
    background-color: white;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 5px;
}

.poke-item:hover {
    transition: transform 100ms ease-in-out;
    box-shadow: 3px 3px 4px darkgray;
    transform: translate3d(-1.5px, 1.5px, 0);
}

.poke-id {
    font-family: 'Patua One', cursive;
    font-size: 1.5em;
    margin-top: 8px;
}

.ability {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8em;
    color: #555;
}

.attack-defense {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .8em;
    margin-top: -50px;
}

.image-container {
    height: 75%;
}

.image-container img {
    height: 88%;
    object-fit: contain;
    padding: 0;
}