@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Deca|Patua+One|Red+Hat+Display&display=swap');

/* font-family: 'Lexend Deca', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Alfa Slab One', cursive; */

.layout {
    display: grid;
    grid-area: 1fh 1fr 1fr;
    width: 100vw;
}

.options-section {
    display: flex;
    flex-direction: row;
    background: #ef3d2b;
    margin: 0;
    padding: 0;
    height: 100;
    width: 100vw;
    grid-area: 'options';
}

.nav-bar {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {
    margin-top: 15px;
    width: 85%;
}

#search-button {
    font-family: 'Red Hat Display' sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    background-color: black;
    color: white;
    margin-top: 8px;
    width: 50%;
}

#search-button:hover {
    transition: transform 100ms ease-in-out;
    box-shadow: 2px 2px 3px darkred;
    transform: translate3d(-1px, 1px, 0);
}

select {
    margin-top: 25px;
    width: 85%;
}

.list-section {
    padding: 20px 10px;
    grid-area: 'list';
}

ul {
    list-style: none;
}

li.poke-name {
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

li.type {
    font-family: 'Lexend Deca', sans-serif;
}