@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Deca|Patua+One|Red+Hat+Display&display=swap');

/* font-family: 'Lexend Deca', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Alfa Slab One', cursive; */

#root {
    display: flex;
    flex-direction: row;
}

.options-section {
    background: #ef3d2b;
    margin: 0;
    padding: 0;
    height: 100;
    width: 25%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

input {
    margin-top: 15px;
    width: 85%;
}

#search-button {
    font-family: 'Red Hat Display' sans-serif;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    background-color: black;
    color: white;
    margin-top: 8px;
    width: 50%;
}

select {
    margin-top: 25px;
    width: 75%;
}

.list-section {
    padding: 20px 10px;
}

ul {
    list-style: none;
}

li.poke-name {
    font-family: 'Patua One', cursive;
    font-size: 2em;
}

li.type {
    font-family: 'Lexend Deca', sans-serif;
}